---
import MainHtml from "../components/MainHtml.astro";
---

<MainHtml title="Blog">
    <div style="padding: 2em;">
        <div box-="square" style="padding: 2em;">
            <h1>Blog</h1>
            <span>
                Here you can find all of my blog posts! I hope you enjoy them!
            </span>
            <br /><br />
            <div box-="square" style="padding: 2em;">
                <span style="color: var(--red);">Sorry! Nothing here *yet*</span
                >
            </div>
            <!-- {sortedPosts.map((post) => (
                <div box-="square" style="padding: 2em;">
                    <h2>{post.title}</h2>
                    <span>{post.description}</span>
                    <br /><br />
                    <a href={`/posts/${post.file.replace(".md","")}`}>Read more</a>
                </div>
            ))} -->
        </div>
    </div>
</MainHtml>
