---
import MainHtml from "../components/MainHtml.astro";
---

<MainHtml title="Contact Me!">
    <style>
        input {
            padding: 0.5em;
            margin: 0.5em;
            border-radius: 4px;
            margin-bottom: 1em;
        }
        textarea {
            margin: 0.5em;
        }
    </style>

    <!-- <div box-="square" style="padding: 2em;">
        It works now lol
        <span style="color: var(--red);" >WARNING!!!! I didn't implement yet the message functionality, just mail me at monica.flour@wheatflour.pl!</span>
    </div> -->
    <div box-="round" class="column">
        <input id="name" placeholder="Your name" />
        <input id="email" placeholder="Your email" type="email" />
        <textarea id="message" placeholder="Your message"></textarea>
        <button id="send-button" box-="double">Send!</button>
    </div>
    <script>
        async function sendMail() {
            const data = getData();
            try {
                const response = await fetch(
                    "https://backend.wheatflour.pl/mail",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    },
                );
                console.log(response);
            } catch (error) {
                console.error("Error: ", error);
            }
        }
        function getData() {
            const message = (
                document.getElementById("message") as HTMLTextAreaElement
            ).value;
            const name = (document.getElementById("name") as HTMLInputElement)
                .value;
            const email = (document.getElementById("email") as HTMLInputElement)
                .value;
            return {
                name: name,
                email: email,
                message: message,
            };
        }
        const sendButton = document
            .getElementById("send-button")
            ?.addEventListener("click", sendMail);
    </script>
</MainHtml>
