---
import MainHtml from "../components/MainHtml.astro";
---

<MainHtml title="Contact Me!">
    <style>
        input {
            padding: 0.5em;
            margin: 0.5em;
            border-radius: 4px;
            margin-bottom: 1em;
        }
        textarea {
            margin: 0.5em;
        }
        p {
            padding-left: 0.5em;
            margin-left: 0.5em;
            border-radius: 4px;
            margin-bottom: 0.5em;
        }
    </style>

    <form
        action="https://formspree.io/f/xrbyvjqw"
        method="POST"
        box-="round"
        class="column"
    >
        <input maxlength="50" id="name" placeholder="Your name" />
        <input
            maxlength="80"
            id="email"
            name="email"
            placeholder="Your email"
            type="email"
        />
        <textarea maxlength="500" name="message" placeholder="Your message"
        ></textarea>
        <p id="message-counter">0/500</p>
        <button type="submit">Send!</button>
    </form>
    <script>
        const messageArea = document.getElementById("message");
        const messageCounter = document.getElementById("message-counter");
        messageArea?.addEventListener("input", () => {
            if (messageArea instanceof HTMLTextAreaElement) {
                const length = messageArea.value.length;
                if (messageCounter) {
                    messageCounter.textContent = `${length}/500`;
                }
            }
        });
    </script>
</MainHtml>
