---
const { truetitle, title, path } = Astro.props;
---

<style>
    #home-link {
        text-decoration: none;
        font-weight: 700;
        color: var(--foreground1);
    }
</style>

<a id="home-link" href={path}>
    {truetitle == title ? <h1>{title}</h1> : <span>{title}</span>}
</a>
